
<div class="d-flex justify-content-center">
  <div class="col-xl-7 col-lg-12 mt-4">
    <div class="card border-left-info shadow h-100 py-2">
      <div class="card-body">
        <div class="no-gutters align-items-center">
          <div class="col mr-2">
            <h1 class="text-center pb-3">Upload a part</h1>
            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Upload a Part:</div>
            <div class=" align-items-center">
            <%= simple_form_for @part do |f| -%>
              <%= f.error_notification %>
              <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
                <div>
                  <%= f.association :claim, label_method: ->(item) { "#{item.number}"}, value_method: :id %>
                  <%= f.association :car, label_method: ->(item) { "#{item.make} - #{item.model}"}, value_method: :id %>
                  <div class="text-right">
                  <%= link_to "Add new Car", new_car_path, class: "btn btn-outline-secondary btn-icon-split p-2 text-right" %>
                  </div>
                  <%= f.input :title, input_html: { autocomplete: "title"} %>
                  <%= f.input :description, input_html: { autocomplete: "description"} %>
                  <%= f.input :category, collection: [ "Lighting", "Sensors", "Body", "Glass", "Wheel", "Other" ], label: "Category", include_blank: false %>
                  <%= f.input :photo, input_html: { autocomplete: "photo"} %>
                  <%= f.input :photo_cache, as: :hidden %>
                  <%= f.input :part_model_code, input_html: { autocomplete: "part_model_code"} %>
                  <%= f.input :price, as: :integer, input_html: { autocomplete: "price"} %>
                  <%= f.button :submit, class: "btn btn-success btn-icon-split p-2"  %>
                  <%= link_to "Cancel", parts_path, class: "btn btn-outline-secondary btn-icon-split p-2" %>
                </div>
              <% end -%>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<br>


