<div class="col-xl-3 col-md-6 mt-4">
  <div class="card border-left-info shadow h-100 py-2">
    <div class="card-body">
      <div class="no-gutters align-items-center">
        <div class="col mr-2">
          <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Related to:</div>
          <div class=" align-items-center">
          <%= simple_form_for @part do |f| -%>
            <%= f.error_notification %>
            <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
              <div>
                <%= f.association :claim, label_method: ->(item) { "#{item.number}"}, value_method: :id %>
                <%= f.association :car, label_method: ->(item) { "#{item.make} - #{item.model}"}, value_method: :id %>
                <%= f.input :title %>
                <%= f.input :category %>
                <%= f.input :description %>
                <%= f.input :part_model_code %>
                <%#= f.input :price_cent %>

                <%= f.button :submit, class: "btn btn-success btn-icon-split"  %>
              </div>
            <% end -%>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

