<div class="container">
  <h1><%= @part.title %></h1>
  <ul>
    <li>Current_user.id <%= current_user.id %></li>
    <li>Current_user.email <%= current_user.email %></li>
    <br>
    <li><%= @part.title %></li>
    <li><%= @part.description %></li>
    <li><%= @part.part_model_code %></li>
    <br>
    <li>part.id <%= @part.id %></li>
    <li>part.user_id <%= @part.user_id %></li>
    <li><% if @part.user_id == current_user.id  %>
      <h1>my part</h1>
      <% end %>
    </li>
    <li>part.claim_id <%= @part.claim_id %></li>
    <!-- <li>part.order_id <%#= @part.order_id %></li> -->
    <% if !@order.blank? %>
      <li>order.id <%= @order.id %></li>
    <% end %>
    <!-- <li><%#= @part.price_cents %></li> -->
  </ul>


<%= form_tag orders_path do %>
  <%= hidden_field_tag 'part_id', @part.id %>
  <%= submit_tag 'Add to basket', class: 'btn btn-primary' %>
<% end %>
</div>


