<div class="container">

    <div class="card o-hidden border-0 shadow-lg my-5">
      <div class="card-body p-0">
        <!-- Nested Row within Card Body -->
        <div class="row">
          <div class="col-lg-4 d-flex align-items-center justify-content-center" style="margin: 0 auto;">
            <% if current_user.photo? %>
            <%= cl_image_tag current_user.photo, crop: :thumb, radius: :max, height: 400, width: 400, gravity: :face, class: "img-fluid rounded-circle shadow-lg" %>
            <% else %>
            <%= cl_image_tag "user_nixstg", class: "img-fluid rounded-circle"%>
            <% end %>
          </div>
          <div class="col-lg-7">
            <div class="p-5">
              <div class="text-center">
                <h1 class="h4 text-gray-900 mb-4">Edit <%= resource_name.to_s.humanize %></h1>
              </div>
              <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: {method: :put, class: "user"}) do |f| %>
                <%= f.error_notification %>
                <div class="form-group row">
                  <div class="col-sm-6 mb-3 mb-sm-0">
                    <%= f.input :first_name,
                      required: true,
                      autofocus: true,
                      label: false,
                      input_html: { autocomplete: "first_name", class: "form-control form-control-user", placeholder: "First Name" }%>
                  </div>
                  <div class="col-sm-6">
                    <%= f.input :last_name,
                      required: true,
                      autofocus: true,
                      label: false,
                      input_html: { autocomplete: "last_name", class: "form-control form-control-user", placeholder: "Last Name" }%>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-sm-6 mb-3 mb-sm-0">
                    <%= f.input :email,
                      required: true,
                      autofocus: true,
                      label: false,
                      input_html: { autocomplete: "email", class: "form-control form-control-user", placeholder: "Email Address" }%>
                    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                      <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
                    <% end %>
                  </div>
                  <div class="col-sm-6">
                    <%= f.input :photo, label: false, input_html: {class: "mt-2"}%>
                    <%= f.input :photo_cache, as: :hidden %>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-sm-6 mb-3 mb-sm-0">
                    <%= f.input :password,
                      hint: "leave it blank if you don't want to change it",
                      required: false,
                      label: false,
                      input_html: { class: "form-control form-control-user", placeholder: "Password"} %>
                  </div>
                  <div class="col-sm-6">
                    <%= f.input :password_confirmation,
                      required: false,
                      label: false,
                      input_html: { class: "form-control form-control-user", placeholder: "Confirm Password" } %>
                  </div>
                </div>
                 <div class="form-group">
                    <%= f.input :current_password,
                      hint: "we need your current password to confirm your changes",
                      required: true,
                      label: false,
                      input_html: { autocomplete: "password", class: "form-control form-control-user", placeholder: "Current to Confirm your changes" } %>
                </div>
                <%= f.button :submit, "Update", class: "btn btn-primary btn-user btn-block"  %>
              <% end %>
              <hr>
              <div class="text-center">
                <h3>Cancel my account</h3>
                <%= link_to (raw('<span class="icon text-white-50"><i class="fas fa-trash"></i></span><span class="text">Cancel my account</span>')), registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-danger btn-icon-split", style: "border-radius: 10rem; font-size: 0.8rem;" %>
                <hr>
                <%= link_to "Back", :back, class: "btn btn-primary btn-user btn-block", style: "border-radius: 10rem; font-size: 0.8rem; padding: 0.75rem 1rem;" %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
