
<div class="container mx-auto">
    <div class="card o-hidden border-0 shadow-lg">
      <div class="card-body p-0">
        <!-- Nested Row within Card Body -->
            <div class="p-4">
              <div class="text-center">
                <% if @claim.user_id.present?  %>
                  <h1 class="h4 text-gray-900 mb-2">Edit claim</h1>
                  <% else %>
                  <h1 class="h4 text-gray-900 mb-2">Add a claim</h1>
                <% end %>
              </div>
              <%= simple_form_for @claim, html: { class: "user"} do |f|-%>
                <%= f.error_notification %>
                <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
                <%= f.input :status, collection: [ "new", "in progress", "finished" ], label: false, include_blank: false, as: :hidden %>
                <div class="form-group">
                  <%= f.input :number, autofocus: true, label: "Claim number", input_html: { autocomplete: "number", class: "form-control form-control-user text-center", placeholder: "Claim Number" } %>
                </div>
                <div class="form-group">
                   <%= f.association :user, label: "Garage", collection: User.where(insurance: false), label_method: ->(user) { "#{user.company_name}"},  value_method: :id, placeholder: "select your garage" %>
                </div>
                <div class="form-group ">
                  <%= f.input :at_date, order: [:day, :month, :year], label: "Date of accident" ,start_year: Date.today.year - 40, end_year: Date.today.year, discard_hour: true, input_html: { autocomplete: "at_date", class: "form-control", placeholder: "Date of the claim" } %>
                  </div>
                  <div class="form-group">
                    <%= f.input :description, input_html: { autocomplete: "description", class: "form-control", placeholder: "Write a description" }%>
                  </div>
                </div>

              <div class="add-edit-claim-btns">

                <% if @claim.user_id.present? %>
                    <%= link_to "Back", claim_path(@claim), class: "btn btn-primary", style: "border-radius:25px; width:25%; padding:10px 0;" %>
                  <% else %>
                    <%= link_to "Cancel", claims_path, class: "btn btn-primary", style: "border-radius:25px; width:25%; padding:10px 0;"  %>
                <% end %>
                <%= f.button :submit, class: "btn btn-success", style: "border-radius:25px; width:25%; padding:10px 0;" %>

                <% end %>


              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
