
<div class="container">
    <div class="card o-hidden border-0 shadow-lg my-5">
      <div class="card-body p-0">
        <!-- Nested Row within Card Body -->
            <div class="p-5">
              <div class="text-center">
                <h1 class="h4 text-gray-900 mb-4">Add/Edit Claim</h1>
              </div>
              <%= simple_form_for @claim, html: { class: "user"} do |f|-%>
                <%= f.error_notification %>
                <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
                <%= f.input :status, collection: [ "new", "in progress", "finished" ], label: false, include_blank: false, as: :hidden %>
                <div class="form-group">
                  <%= f.input :number, autofocus: true, label: false, input_html: { autocomplete: "number", class: "form-control form-control-user text-center", placeholder: "Claim Number" } %>
                </div>
                <div class="form-group">
                  <!-- TODO: Why can't i store the id of the user into the garage_id? -->
                   <%= f.association :user, collection: User.where(insurance: false), label_method: ->(user) { "#{user.company_name}"},  value_method: :id, label: false, placeholder: "select your garage" %>
                </div>
                <div class="form-group ">
                  <%= f.input :at_date, start_year: Date.today.year - 40, end_year: Date.today.year, discard_hour: true , label: false, input_html: { autocomplete: "at_date", class: "form-control", placeholder: "Date of the claim" } %>
                  </div>
                  <div class="form-group">
                    <%= f.input :description, label: false, input_html: { autocomplete: "description", class: "form-control", placeholder: "Write a description" }%>
                  </div>
                </div>
                <%= f.button :submit, class: "btn btn-primary btn-user btn-block w-50 mx-auto", style: "border-radius: 25px;" %>
                <br>
                <br>
              <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
