<div id="claims-show-part">
  <div class="card border-left-<%= status_class(@claim) %> shadow mb-4">
    <div class="card-header py-3" id="claim-show-card-header">

      <h6 class="m-0 font-weight-bold text-primary">Claim Number: <%= @claim.number %></h6>
        <%= simple_form_for @claim, html: { class: "d-flex justify-content-center align-items-center"} do |f|-%>
          <%= f.error_notification %>
          <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
          <% if @claim.status == "new" %>
            <div class="claim-show-garage-header-form">
              <div id="fucking-btn">
                <%= f.input :status, collection: [ "new", "in progress", "finished" ], label: false, include_blank: false %>
              </div>
              <%= f.input :number, as: :hidden,autofocus: true, label: false, input_html: { autocomplete: "number", class: "form-control form-control-user text-center", placeholder: "Claim Number" } %>
              <!-- TODO: Why can't i store the id of the user into the garage_id? -->
              <%= f.association :user,  as: :hidden, collection: User.where(insurance: false), label_method: ->(user) { "#{user.company_name}"},  value_method: :id, label: false, placeholder: "select your garage" %>
              <%= f.input :at_date,  as: :hidden, start_year: Date.today.year - 40, end_year: Date.today.year, discard_hour: true , label: false, input_html: { autocomplete: "at_date", class: "form-control", placeholder: "Date of the claim" } %>
              <%= f.input :description,  as: :hidden, label: false, input_html: { autocomplete: "description", class: "form-control", placeholder: "Write a description" }%>
              <%= f.button :submit, data: { confirm: "Are you sure you whant to update claim #{@claim.number} to in progress status?",  disable_with: "Updating..." }, class: "btn btn-success", id: "update-claim-btn-garages" %>
            </div>
          <% end %>
          <% if @claim.status == "in progress" %>
            <div id="fucking-btn">
              <%= f.input :status, collection: ["in progress", "finished" ], label: false, include_blank: false %>
            </div>
            <%= f.input :number, as: :hidden,autofocus: true, label: false, input_html: { autocomplete: "number", class: "form-control form-control-user text-center", placeholder: "Claim Number" } %>
            <!-- TODO: Why can't i store the id of the user into the garage_id? -->
            <%= f.association :user,  as: :hidden, collection: User.where(insurance: false), label_method: ->(user) { "#{user.company_name}"},  value_method: :id, label: false, placeholder: "select your garage" %>
            <%= f.input :at_date,  as: :hidden, start_year: Date.today.year - 40, end_year: Date.today.year, discard_hour: true , label: false, input_html: { autocomplete: "at_date", class: "form-control", placeholder: "Date of the claim" } %>
            <%= f.input :description,  as: :hidden, label: false, input_html: { autocomplete: "description", class: "form-control", placeholder: "Write a description" }%>
            <%= f.button :submit, data: { confirm: "Are you sure you want to update claim #{@claim.number} to finished?",  disable_with: "Updating..." }, class: "btn btn-success", id: "update-claim-btn-garages" %>
          <% end %>
          <% if @claim.status == "finished" %>
          <% end %>
        <% end %>
    </div>
    <div class="card-body">
        <div>
          Claim status: <%= @claim.status %>
        </div>

        <div>
          Claim description:  <%= @claim.description %>
        </div>

        <div>
          Date of claim:  <%= @claim.at_date.strftime("%d-%m-%Y") %>
        </div>

        <div>
          Insurance ID: <%= @claim.user_id %>
        </div>
        <div>
          Garage ID: <%= @claim.garage_id %>
        </div>

        <% unless @car.nil? && @part.nil? %>
          <div>
            Car make: <%= @car.make %>
          </div>

          <div>
            Car model: <%= @car.model %>
          </div>
        <% end %>
    </div>
    <div class="flex-container-show">
      <div>
        <%= link_to "Back to claims", claims_path, class: "btn btn-primary", id: "show-return-btn" %>
      </div>
      </div>
    </div>
  </div>

</div>



