<div class="container-fluid">
  <div class="garage-claims-filter-options">
    <div class="garage-claims-filter-header">
      Filter claims by status
    </div>

    <div class="garage-claims-index-filter">
      <%= button_to "New", claims_path, method: :get, class: "btn btn-primary", id: "garage-claims-index-btns", params: { status: "new"} %>
      <%= button_to "In progress", claims_path, method: :get, class: "btn btn-warning", id: "garage-claims-index-btns",params: { status: "in progress"} %>
      <%= button_to "Finished", claims_path, method: :get, class: "btn btn-success", id: "garage-claims-index-btns",params: { status: "finished"} %>
      <%= button_to "Show all", claims_path, method: :get, class: "btn btn-secondary", id: "garage-claims-index-btns" %>
    </div>

  </div>

  <% @claims.each do |claim| %>
    <div id="claims-index">
      <div class="card border-left-<%= status_class(claim) %> shadow">
        <div class="card-header py-3" id="index-claim-card-header">
          <h6 class="m-0 font-weight-bold text-primary">Claim Number: <%= link_to claim.number, claim_path(claim) %></h6>
          <%= link_to "info", claim_path(claim), class: "btn btn-info", id: "index-claim-card-btn" %>
        </div>
        <div class="card-body">

          <div>
            Claim status: <%= claim.status %>
          </div>

          <div>
            Claim description:  <%= claim.description %>
          </div>

          <div>
            Date of claim:  <%= claim.at_date.to_date %>
          </div>

        </div>
      </div>
    </div>
  <% end %>
</div>
