<div id="claims-show-part">
  <div class="card border-left-primary shadow mb-4">
    <div class="card-header py-3" id="claim-show-card-header">
      <h6 class="m-0 font-weight-bold text-primary">Claim Number: <%= @claim.number %></h6>
      <%= link_to "Edit", edit_claim_path, class: "btn btn-info", id: "show-edit-btn" %>
    </div>
    <div class="card-body">

      <div>
        Claim description:  <%= @claim.description %>
      </div>

      <div>
        Date of claim:  <%= @claim.at_date.to_date %>
      </div>

      <div>
        User ID: <%= @claim.user_id %>
      </div>

      <% unless @car.nil? && @part.nil? %>
        <div>
          Car make: <%= @car.make %>
        </div>

        <div>
          Car model: <%= @car.model %>
        </div>
      <% end %>

    </div>
    <div class="flex-container-show">
      <div>
        <%= link_to "Back to claims", claims_path, class: "btn btn-primary", id: "show-return-btn" %>
      </div>

      <div>
        <%= link_to "Delete", claim_path(@claim), data: { confirm: 'Are you sure?' }, method: :delete, class: "btn btn-danger", id: "show-delete-btn" %>
      </div>

    </div>
  </div>
</div>


