<% if user_signed_in? %>
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

  <!-- Sidebar - Brand -->
  <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
    <div class="sidebar-brand-icon rotate-n-15">
      <i class="fas fa-kiwi-bird"></i>
    </div>
    <div class="sidebar-brand-text mx-3">Falcon</div>
  </a>

  <!-- Divider -->
  <hr class="sidebar-divider my-0">

  <!-- Nav Item - Dashboard -->
  <li class="nav-item active">
    <%= link_to (raw('<i class="fas fa-fw fa-tachometer-alt"></i>
      <span>Dashboard</span>')), root_path, class: "nav-link" %>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading for insurance-->
    <% if current_user.insurance %>
      <div class="sidebar-heading">
        Insurer menu
      </div>

      <!-- Nav Item - Pages Collapse Menu -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
          <i class="fas fa-fw fa-cog"></i>
          <span>Claims</span>
        </a>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">
              Claims menu:
            </h6>
            <%= link_to "My claims", claims_path, class: "collapse-item" %>
            <%= link_to "Add claim", new_claim_path, class: "collapse-item" %>
          </div>
        </div>
      </li>

      <!-- Nav Item - Utilities Collapse Menu -->
      <li class="nav-item">
        <%= link_to (raw('<i class="fas fa-fw fa-wrench"></i>
          <span>Sold parts</span>')), root_path, class: "nav-link collapsed" %>
      </li>

      <li class="nav-item">
        <%= link_to (raw('<i class="fas fa-fw fa-table"></i>
          <span>Statistics</span>')), root_path, class: "nav-link collapsed" %>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider">
    <% end %>

    <!-- Heading for garages-->
    <% if current_user.insurance == false %>
      <div class="sidebar-heading">
        Body shop Menu
      </div>

      <!-- Nav Item - Pages Collapse Menu -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages" aria-expanded="true" aria-controls="collapsePages">
          <i class="fas fa-fw fa-wrench"></i>
          <span>Parts</span>
        </a>
        <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">
              Parts:
            </h6>
            <%= link_to "Buy a part", parts_path, class: "collapse-item" %>
            <%= link_to "Sell a part", new_part_path, class: "collapse-item" %>
            <%= link_to "My part", parts_path, class: "collapse-item" %>
          </div>
        </div>
      </li>

      <!-- Nav Item - Charts -->
      <li class="nav-item">
        <%= link_to (raw('<i class="fas fa-fw fa-chart-area"></i>
          <span>Charts</span>')), root_path, class: "nav-link collapsed" %>
      </li>
        <!-- Nav Item - Tables -->
      <li class="nav-item">
        <%= link_to (raw('<i class="fas fa-fw fa-table"></i>
          <span>Table</span>')), root_path, class: "nav-link collapsed" %>
      </li>

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">
    <% end  %>
    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
      <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>
  </ul>
<% end %>
