<% if user_signed_in? %>
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

  <!-- Sidebar - Brand -->
  <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
    <div class="sidebar-brand-icon">
      <%= cl_image_tag "https://res.cloudinary.com/dbimnldt2/image/upload/v1559209891/Logo/login_desktop_psq6fp.png", width: 60, height: 60 %>
    </div>
    <div class="sidebar-brand-text">
      <%= cl_image_tag "https://res.cloudinary.com/dbimnldt2/image/upload/v1559210188/Logo/login_desktop_gc9ewi.png", width: 134, height: 52 %>
    </div>
  </a>

  <!-- Divider -->
  <hr class="sidebar-divider my-0">

  <!-- Nav Item - Dashboard -->
  <li class="nav-item active">
    <%= link_to (raw('<i class="fas fa-fw fa-tachometer-alt"></i>
      <span>Statistics</span>')), current_user.insurance ? statistics_insurance_path : statistics_garage_path, class: "nav-link" %>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading for insurance-->
    <% if current_user.insurance %>
      <div class="sidebar-heading">
        Insurer menu
      </div>

      <!-- Nav Item - Utilities Collapse Menu -->
        <li class="nav-item">
          <%= link_to (raw('<i class="fas fa-fw fa-file"></i>
          <span>My claims</span>')), claims_path , class: "nav-link collapsed" %>
        </li>
        <li class="nav-item">
          <%= link_to (raw('<i class="fas fa-fw fa-plus"></i>
          <span>Add a claim</span>')), new_claim_path , class: "nav-link collapsed" %>
        </li>
      <li class="nav-item">
        <%= link_to (raw('<i class="fas fa-fw fa-wrench"></i>
          <span>Parts overview</span>')), table_path , class: "nav-link collapsed" %>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider">
    <% end %>

    <!-- Heading for garages-->
    <% if current_user.insurance == false %>
      <div class="sidebar-heading">
        Bodyshop Menu
      </div>

      <!-- Nav Item - My claims -->
      <li class="nav-item">
        <%= link_to (raw('<i class="fas fa-fw fa-file"></i>
          <span>My claims</span>')), claims_path, class: "nav-link collapsed" %>
      </li>
      <!-- Nav Item - Buy -->
      <li class="nav-item">
        <%= link_to (raw('<i class="fas fa-fw fa-plus"></i>
          <span>Buy</span>')), parts_path, class: "nav-link collapsed" %>
      </li>
      <!-- Nav Item - sell -->
      <li class="nav-item">
        <%= link_to (raw('<i class="fas fa-fw fa-euro-sign"></i>
          <span>Sell</span>')), new_part_path, class: "nav-link collapsed" %>
      </li>
     <!-- Nav Item - basket -->
      <li class="nav-item">
        <%= link_to (raw('<i class="fas fa-shopping-cart"></i>
          <span>Basket</span>')), orders_path, class: "nav-link collapsed" %>
      </li>
      <!-- Nav Item - Order History -->
      <!-- List of bought parts -->
      <li class="nav-item">
        <%= link_to (raw('<i class="fas fa-archive"></i>
          <span>Order history</span>')), purchasedparts_path, class: "nav-link collapsed" %>
      </li>
      <!-- Nav Item - My Part -->
      <li class="nav-item">
        <%= link_to (raw('<i class="fas fa-fw fa-database"></i>
          <span>My online parts</span>')), my_selling_parts_path, class: "nav-link collapsed" %>
      </li>

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">
    <% end  %>
    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
      <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>
  </ul>
<% end %>
