<div class="container p-0 mx-auto">
  <div class="card shadow shopping-cart dark">
        <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary" id="parts-index-card-header">Basket</h6>
        </div>
        <div class="content">
          <div class="row">
            <div class="col-lg-12 col-xl-8">
              <div class="items">
                <% current_user.orders.each do |order| %>
                <!-- the order.part is here to prevent crashes -->
                  <% if order.status == 'pending' && order.part != nil %>
                  <!-- Try to implement logic with div-cloumn -->
                    <div class="product">
                          <div class="row">
                            <div class="col-md-3 d-flex justify-content-center align-items-center">
                              <%= cl_image_tag order.part.photo, :width=>400, :height=>300, :fetch_format=>:auto, :crop=> :fill, class: "img-fluid mt-4 ml-4 shadow" %>
                            </div>
                            <!-- mx-auto d-block image -->
                            <div class="col-md-8">
                              <div class="info">
                                <div class="row">
                                  <div class="col-md-5 product-name">
                                    <div class="product-name">
                                      <%= link_to order.part.title, part_path(order.part_id) %>
                                      <div class="product-info">
                                        <div>Part ID: <span class="value"><%= order.part.part_model_code %></span></div>
                                        <div>Make: <span class="value"><%= order.part.car.make %></span></div>
                                        <div>Model: <span class="value"><%= order.part.car.model %></span></div>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="col-md-3 quantity d-flex justify-content-center align-items-center">
                                    <%= link_to (raw('<i class="fas fa-trash"></i>')) ,order_path(order), method: 'delete', class: 'btn btn-danger w-50' %>
                                  </div>
                                  <div class="col-md-4 price text-center w-100">
                                    <%= Money.new(order.part.price_cents, "EUR").format %>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                    </div>
                    <!-- <hr> -->
                  <% end %>
                <% end %>
              </div>
            </div>
            <div class="col-lg-12 col-xl-4">
              <div class="summary">
                <h3>Summary</h3>
                <div class="summary-item"><span class="text">Subtotal</span><span class="price"><%= @total_price_format %></span></div>
                <div class="summary-item"><span class="text">Discount</span><span class="price">€ 0</span></div>
                <div class="summary-item"><span class="text">Shipping</span><span class="price">€ 0</span></div>
                <div class="summary-item"><span class="text">Total</span><span class="price"><%= @total_price_format %></span></div>
                <br>
                <% if @basket_full == true %>
                  <%= link_to "Buy", order_path(current_user.orders), data: { confirm: "Confirm purchase?" } , method: "patch", class: "btn btn-success btn-lg btn-block" %>
                <% end %>
                <hr>
                <%= link_to 'Back to Parts', parts_path, class: "btn btn-primary w-100 p-2 btn-lg btn-block" %>
              </div>
            </div>
          </div>

        </div>
  </div>
</div>



