<div class="container">
  <div class="card shadow">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary" id="parts-index-card-header">Basket</h6>
    </div>
    <div class="card-body ">
      <% current_user.orders.each do |order| %>
      <!-- the order.part is here to prevent crashes -->
        <% if order.status == 'pending' && order.part != nil %>
          <div class="d-flex justify-content-between mt-1">
            <p>
              <%= link_to order.part.title, part_path(order.part_id) %>
            </p>
            <p>
              <%= order.part.price %> €
            </p>
            <div>
              <span>
                <%= link_to 'Buy', order_path(order),data: { confirm: 'Confirm purchase?' } , method: 'patch', class: 'btn btn-info' %>
              </span>
               <span>
                <%= link_to (raw('<i class="fas fa-trash"></i>')) ,order_path(order), method: 'delete', class: 'btn btn-danger' %>
              </span>
            </div>
          </div>

        <% end %>
      <% end %>

      <% if current_user.orders.where(status: 'pending').count  == 0  %>
        <p>Your basket is empty</p>
        <%#= link_to 'Buy a part', parts_path, class: "btn btn-primary" %>
      <% end %>

      <%= link_to 'Back to Parts', parts_path, class: "btn btn-primary" %>
      <%= link_to 'Order history', purchasedparts_path, class: "btn btn-primary" %>
    </div>

  </div>
</div>

