<h1><%= current_user.company_name %></h1>
<div class="row mx-auto">
  <!-- List of Parts currently available -->
  <div class="col-xl-3 col-md-6 mb-4">
    <div class="card border-left-primary shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Sold online</div>
            <div class="h5 mb-0 font-weight-bold text-gray-800"><%= @all_parts_bought %></div>
          </div>
          <div class="col-auto">
            <i class="fas fa-th-list fa-2x text-gray-300"></i>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Number of claims   -->
  <div class="col-xl-3 col-md-6 mb-4">
    <div class="card border-left-success shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Earnings (Annual)</div>
            <div class="h5 mb-0 font-weight-bold text-gray-800">€ <%= @part_earning_total_insurance %></div>
          </div>
          <div class="col-auto">
            <i class="fas fa-euro-sign fa-2x text-gray-300"></i>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Number of claims  in progress -->
  <div class="col-xl-3 col-md-6 mb-4">
    <div class="card border-left-info shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Claim in progress</div>
            <div class="row no-gutters align-items-center">
              <div class="col-auto">
                <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800"><%= @actual_in_percent.round(2) %> % </div>
              </div>
              <div class="col">
                <div class="progress progress-sm mr-2">
                  <div class="progress-bar bg-info" role="progressbar" style="width: <%= @actual_in_percent %>%" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-auto">
            <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Number of claims pending -->
  <div class="col-xl-3 col-md-6 mb-4">
    <div class="card border-left-warning shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Pendings </div>
            <div class="h5 mb-0 font-weight-bold text-gray-800"><%= @all_parts_pending %></div>
          </div>
          <div class="col-auto">
            <i class="fas fa-clock fa-2x text-gray-300"></i>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<!-- Evolution of the selling since January -->
<div class="row mx-auto">
  <div class="col card shadow mt-4 mr-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">Evolutions</h6>
    </div>
    <div class="card-body">
        <canvas id="myBarChart" height="400" width="650"></canvas>
      <hr>
      Evolution of the sell since January.
    </div>
  </div>

  <div class="col card shadow mt-4 ml-4">
    <!-- Card Header - Dropdown -->
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">Categories</h6>
    </div>
    <!-- Card Body -->
    <div class="card-body">
        <canvas id="myPieChart" height="400" width="650" data-label= "<%= @count.keys %>" data-numbers= "<%= @count.values %>"></canvas>
      <hr>
      Category and number of parts available.
    </div>
  </div>
</div>

