<div class="container">
    <div class="card o-hidden border-0 shadow-lg my-5">
      <div class="card-body p-0">
        <!-- Nested Row within Card Body -->
            <div class="p-5">
              <div class="text-center">
                <%# raise %>
                <% if @car.id.present? %>
                  <h1 class="h4 text-gray-900 mb-4">Edit the car</h1>
                <% else %>
                  <h1 class="h4 text-gray-900 mb-4">Add a car</h1>
                <% end %>
              </div>
              <%= simple_form_for @car, html: { class: "user"} do |f|-%>
                <%= f.error_notification %>
                <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
                <div class="form-group">
                  <%= f.input :make, input_html: { autocomplete: "make", class: "form-control", placeholder: "Write the make" }%>
                </div>
                <div class="form-group">
                  <%= f.input :model, input_html: { autocomplete: "model", class: "form-control", placeholder: "Write the model" }%>
                </div>
                <div class="form-group">
                  <%= f.input :vin, input_html: { autocomplete: "Vin", class: "form-control", placeholder: "Vin Number" } %>
                </div>

              </div>
                <%= f.button :submit, class: "btn btn-primary btn-user btn-block w-50 mx-auto", style: "border-radius: 25px;" %>
                <br>
                <br>
              <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
