<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>falcon</title>
    <link rel="icon" href="https://res.cloudinary.com/dbimnldt2/image/upload/v1558534597/Logo/favicon_smtrx8.ico">

    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
  </head>
  <body id="page-top" cz-shortcut-listen="true">

    <div id="wrapper">
      <!-- render the sidenav -->
      <%= render 'shared/sidenav' %>

      <div id="content-wrapper" class="d-flex flex-column">

        <div id="content">
          <!-- rendering the upper navbar -->
            <%= render 'shared/navbar' %>
            <div class="container-fluid">
            <!-- render the notifications -->
            <%= render 'shared/flashes' %>
            <!-- rendering any other view -->
            <%= yield %>
          </div>
        </div>
      </div>
    </div>
    <a id="hiding-options-arrow" class="scroll-to-top scrollToTop rounded" style="display:inline;">
      <i class="fas fa-angle-up"></i>
    </a>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>

  </body>
</html>
